

*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: inter;
    src: url(./fonts/Inter-Regular.ttf);
}

main{
    display: flex;
/* align-content: space-between; */
margin-left: 52px;

}



section {
    display: flex;
    margin-left: 52px;
}

main h1{
    font-size: 18px;
    font-family: inter;
    font-weight: 600;
    margin-top: 16px;
    margin-left: 16px;
}
   


div p:first-of-type {

     color: #3E3E59;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 4px;
    margin-bottom: 8px;
}


div p{
    font-size: 14px;
    font-weight: 400;
    color:#5F6980;
    line-height: 22px;
    margin-bottom: 24px;
    margin: 0 16px;
    margin-bottom: 24px;
}


main span a {
    background-color: #F2F4F7;
border-radius: 100px;
display: inline-block;
height: 36px;
width: 36px;
margin-bottom: 16px ;
margin-left: 16px;

}

section  span a {
    background-color: #F2F4F7;
border-radius: 100px;
display: inline-block;
height: 36px;
width: 36px;
margin-bottom: 16px ;
margin-left: 16px;

}

 span a img{
  position: relative;
left: 10px;
top: 10px;
/* padding-bottom: 16px; */
}

 main div {
    border: 1px solid #F2F4F7;
    margin-bottom: 48px;
    
}

 section div {
    border: 1px solid #F2F4F7;
    margin-bottom: 48px;
    
}

.insta {
    margin-left: 16px;
}

.martin {
    margin-left: 32px;
    margin-right: 32px;
}

.jordin {
    margin-right: 32px;
}

h6{
    text-align: center;
    size: 16px;
    color: #282828;
    font-family: inter;
    font-weight: 600px;
    line-height: 26px;
    margin-top: 80px;
    
}

.mainh1 {
    font-family: inter;
    letter-spacing: -1px;
    font-size: 54px;
    line-height: 62px;
    font-weight: 600px;
    text-align: center;
    margin-top: 4px;
    margin-bottom: 16px;
  

}

.topp {

    color: #5F6980;
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    font-family: inter;
    line-height: 35px;
    margin-bottom: 48px;
   
}

header {
    margin-left: 52px;
}

section h1{
    font-size: 18px;
    font-family: inter;
    font-weight: 600;
    margin-top: 16px;
    margin-left: 16px;
}


footer {
    display: flex;
    background-color:#53535354;
    height: 512px;
    align-content: space-between;
    margin-top: 48px;
    width: 1440px;
}


ul, li {
    list-style-type: none;


}

li a {
    text-decoration: none;
}




.logo {
    margin-top: 108px;
    margin-left: 52px;
    margin-bottom: 32px;
}


.logo img {
    margin-bottom: 32px;
}

.logo p {

    color: #535353;
    font-family: inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;

}

.logo span {
    margin-top: 28px;
    display: inline-block;
    

}

footer h3 {

    font-size: 20px;
    font-family: inter;
    font-weight: 600;
    margin-top: 108px;
    
}

.web {

    margin-left: 144.95px;
    margin-right: 254px;

}


.serv {

    margin-right: 147px;
}

.web h3 {

    margin-bottom: 71px;
}

.web li {
    font-size: 14px;
    font-family: inter;
   font-weight: 400;

}

.serv h3 {
    margin-bottom: 55px;
}

.serv li {
    font-size: 14px;
    font-family: inter;
   font-weight: 400;

}

.webabout {
    margin-top: 15px;
    margin-bottom: 15px;
}


.lang {
    margin-top: 58.45px;
    height:45px;
    width: 80px;
    background-color: #054A68;
color: #FFFFFF;
    text-align: center;
    cursor:context-menu;
    font-family: inter;
    font-size: 14px;
    
}


.blackinsta {
    margin-left: 16px;
    margin-right: 16px;
}
